/*.table_div{*/
    /*background-color:#f9f9f9;*/
    /*padding: 5%;*/
    /*margin-bottom: 2%;*/
/*}*/


/*#add_task_button{*/
    /*right:50%;*/
    /*top:80%;*/
    /*position:relative;*/
/*}*/


/*.control-group{*/
 /*text-align: right;*/
    /*background:#ede7f6;*/
/*}*/


/*label.control-label {*/
 /*display: block;*/
 /*margin-left: 20px;*/
/*}*/
/*.controls.selection {*/
 /*display:block;*/
/*}*/
/*label.radio {*/
 /*display: block;*/
 /*margin-left: 40px;*/
/*}*/
/*.radio span {*/
 /*padding-right: 30px;*/
/*}*/

/*.date_element {*/
    /*background-color:#F8F8FF;*/
/*}*/
.radio-buttons{
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
#radio-buttons-label{
    display: block;
    font-color:#000000;
}
#selectedRadioOption{
   padding-right: 15px;
}
/*.project_name{*/
    /*background-color:#000000;*/
    /*width:30px;*/
    /*height:50px;*/
/*}*/

.lidor{
    padding: 0 !important;
    margin: 0 !important;
}
#date_elements{
    padding-buttom: 5px;
}
#options-icon{
    padding:10px
}
.btn.btn-round{
    margin-top: 40px;
}
.table_div{
    margin-top: 30px;
    background-color:#D3D3D3;
    border-radius: 6px;
}
#add-task-button{
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;

}
.new_task_div{
    background-color:#DCDCDC;
    margin-left:40px;
    margin-right:20px;
    border-radius: 6px;
    width: 600px;


}
.project_name{
    background-color:#9c27b0;
    height: 40px;
    border-radius: 6px;
    /*font-size: large;*/
}
.project_name > #pro_name{
    padding-top: 5px;
    /*font-family: 'Bungee Inline', cursive;*/
   font-family: 'Francois One', sans-serif;
    color:#f9f9f9;
}
#date_elements{
    display: block;
}
.radio-buttons > label{
    color:#9c27b0;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 10px;

}
#exit_button {
    /*position: fixed;*/
    left: 5px;
    top:0px;
    text-align: left;
    margin-left: 3px;
}

a {
    cursor: pointer;
}

.loader {
    border: 16px solid #AAAAAA;
    border-top: 16px solid #9c27b0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    left: 50%;
    margin-right: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}