{% load staticfiles %}

<!-- from creative-tim -->
<!--   Core JS Files   -->
<script type="text/javascript" src={% static 'src/creative_tim/js/jquery.min.js' %} ></script>
<script type="text/javascript" src={% static 'src/creative_tim/js/bootstrap.min.js' %}></script>
<script src={% static 'src/creative_tim/js/material.min.js' %}></script>

<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script type="text/javascript"  src={% static 'src/creative_tim/js/bootstrap-datepicker.js' %}></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script type="text/javascript" src={% static 'src/creative_tim/js/material-kit.js' %} ></script>
<script type="text/javascript" src="{% static 'build/bundle.js' %}"></script>