{% load staticfiles %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href={% static 'src/css/styles.css' %} />
<link rel="stylesheet" href={% static 'src/css/liza.css' %} />
<link rel="stylesheet" href={% static 'src/css/sagi.css' %} />

<!-- from creative tim -->
<!--     Fonts and icons     -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

<!-- CSS Files -->
<link rel="stylesheet" href=  {% static 'src/creative_tim/css/bootstrap.min.css' %}  />
<link rel="stylesheet" href={% static 'src/creative_tim/css/material-kit.css' %} />